<!-- <form method="POST" action="/squads/<%= @squad.id %>/piloted_ships">

<ul>
  <li>
    Pilot: 
  </li>
    <select id="pilot_id" name="pilot_id">
      <% pilots = @ship.pilots %>
      <% pilots.each do |pilot| %>
        <option value = "<%= pilot.id %>">PS<%=pilot.pilot_skill%> <%=pilot.name%> +<%=pilot.cost%> points</option>
      <% end %>
    </select>
</ul>
<input class="button green" type="submit" name="Add Pilot"/> -->



<!-- file not used -->