<h1>New ship</h1> 

  <form method="GET" action="/squads/<%= @squad.id %>/piloted_ships">
      
    <% ships = Ship.all %>
    
    <% ships.each do |ship| %>
    <ul>
      <li>
        <a href="/squads/<%= @squad.id %>/ship/<%= ship.id %>" ><%= ship.name %>: <%= ship.cost %> points</a>
      </li>
    </ul>
    <% end %>

  </form>