<h1><%= @squad.name %></h1>

<form method="get" action="/squads/<%= @squad.id %>/piloted_ships/new" >
  <input class="button green" type="submit" value="Add Ship">
</form> 

<% for piloted_ship in @squad.piloted_ships %>
  <ul>
    <li>
      <p><%= piloted_ship.ship.name %> - <%= piloted_ship.pilot.name %> - <%= piloted_ship.total_cost %> points </p>
      <p><span class="pilot_skill"><%= piloted_ship.pilot.pilot_skill %></span> <span class="attack"><%= piloted_ship.ship.stats[1] %></span> <span class="agility"><%= piloted_ship.ship.stats[3] %></span> <span class="shields"><%= piloted_ship.ship.stats[5] %></span> <span class="hull"><%= piloted_ship.ship.stats[7] %></span></p>
      <p><%= piloted_ship.pilot.pilot_ability %></p> 
      <form method="GET" action="/squads/<%= @squad.id %>/piloted_ships/<%= piloted_ship.id %>/edit_pilot" >
        <input class="button green" type="submit" value="Change Pilot">
      </form> 
    </li>
  

  <form method="post" action="/squads/<%= @squad.id %>/piloted_ships/<%= piloted_ship.id %>/delete" >
    <input class="button red" type="submit" value="Remove Ship">
  </form> 
  </ul>
  <hr/> 
<% end %>

<p>Total points: <%= @squad.total_cost %> </p>

<form method="POST" action="/squads/<%= @squad.id %>/delete" >
  <input class="button red" type="submit" value="Delete Squad">
</form> 


