<h1><%= @squad.name %></h1>

<form method="get" action="/squads/<%= @squad.id %>/piloted_ships/new" >
  <input class="button green" type="submit" value="Add Ship">
</form> 

<% for piloted_ship in @squad.piloted_ships %>
  <ul>
    <li>
      <p><%= piloted_ship.ship.name %> - <%= piloted_ship.pilot.name %> - <%= piloted_ship.total_cost %> points </p>
      <p><span class="pilot_skill"><%= piloted_ship.pilot.pilot_skill %></span> <span class="attack"><%= piloted_ship.ship.stats[0] %></span> <span class="agility"><%= piloted_ship.ship.stats[1] %></span> <span class="shields"><%= piloted_ship.ship.stats[2] %></span> <span class="hull"><%= piloted_ship.ship.stats[3] %></span></p>
      <p><%= piloted_ship.pilot.pilot_ability %></p> 

      <p>Upgrades:</p>

      <% piloted_ship.upgrades.each do |upgrade_hash| %>
        <% upgrade_hash.each_pair do |upgrade_type, upgrade_id| %>
          <% upgrade = Upgrade.find(upgrade_id) %>
          <p> <%= upgrade.type.capitalize %> - <%= upgrade.name %> - <%= upgrade.cost %> points</p>
          <p> <%= upgrade.effect %>
        <% end %>
      <% end %>

      <form method="GET" action="/squads/<%= @squad.id %>/piloted_ships/<%= piloted_ship.id %>/edit" >
        <input class="button green" type="submit" value="Edit Ship">
      </form> 
    </li>
  

  <form method="post" action="/squads/<%= @squad.id %>/piloted_ships/<%= piloted_ship.id %>/delete" >
    <input class="button red" type="submit" value="Remove Ship">
  </form> 
  </ul>
  <hr/> 
<% end %>

<p>Total points: <%= @squad.total_cost %> </p>

<form method="POST" action="/squads/<%= @squad.id %>/delete" >
  <input class="button red" type="submit" value="Delete Squad">
</form> 


