<h1><%= @squad.name %></h1>

<% for piloted_ship in @squad.piloted_ships %>
  <ul>
    <li>
      <p><%= piloted_ship.ship.name %> - <%= piloted_ship.pilot.name %> - <%= piloted_ship.total_cost %> points </p>
      <p><%= piloted_ship.ship.stats[1] %>  <%= piloted_ship.ship.stats[3] %>   <%= piloted_ship.ship.stats[5] %>  <%=piloted_ship.ship.stats[7] %></p>
      <p><%= piloted_ship.pilot.pilot_ability %></p> 
      <form method="POST" action="/piloted_ships/<%= piloted_ship.id %>/update" >
        <input type="submit" value="Change Ship">
      </form> 
    </li>
  

  <form method="post" action="<%= @squad.id %>/piloted_ships/<%= piloted_ship.id %>/delete" >
    <input type="submit" value="Remove Ship">
  </form> 
  </ul> 
<% end %>

<p>Total points: <%= @squad.total_cost %> </p>

<form method="get" action="<%= @squad.id %>/piloted_ships/new" >
  <input type="submit" value="Add Ship">
</form> 

<form method="POST" action="squads/<%= @squad.id %>/delete" >
  <input type="submit" value="Delete Squad">
</form> 


