<p><%= @ship.name %> - <%= @ship.cost %> points </p>

<form method="GET" action="/pilots/<%= @ship.id %>" >
  <input class="button green" type="submit" value="View Pilots">
</form> 

<form method="GET" action="/pilots/<%= @ship.id %>/new" >
  <input class="button green" type="submit" value="Add New Pilot">
</form> 

<p class="flex flex-column"><span class="attack">Attack: <%= @ship.stats[0] %></span> <span class="agility">Agility: <%= @ship.stats[1] %></span> <span class="shields">Shields: <%= @ship.stats[2] %></span> <span class="hull">Hull: <%= @ship.stats[3] %></span></p>

<p>Upgrade Slots:</p>
<% @ship.upgrades.each do |upgrade| %>
   <p> <%= upgrade.capitalize %> </p>
<% end %>

<img src="<%= @ship.manoeuvres %>" />

<form method="post" action="/ships/<%= @ship.id %>/delete" >
  <input class="button red" type="submit" value="Remove Ship">
</form> 

<form method="GET" action="/ships/<%= @ship.id %>/edit" >
  <input class="button green" type="submit" value="Edit Ship">
</form>
