<h3>Edit Pilot</h3>

<form method="POST" action="/pilots/<%= @pilot.id %>/update">

<div>
  <label for="name">Pilot Name:</label>
  <input type="text" name="name" id="name" value="<%= @pilot.name %>"/>
</div>

<div>
  <label for="pilot_skill">Pilot Skill:</label>
  <input type="number" name="pilot_skill" id="pilot_skill" value="<%= @pilot.pilot_skill %>"/>
</div>

<div>
  <label for="pilot_ability">Pilot Ability:</label>
  <input type="text" name="pilot_ability" id="pilot_ability" value="<%= @pilot.pilot_ability %>"/>
</div>

<div>
  <label for="cost">Cost:</label>
  <input type="number" name="cost" id="cost" value="<%= @pilot.cost %>"/>
</div>

<input type="hidden" value="<%= @pilot.ship_id %>" name="ship_id"/>

<input class="button green" type="submit" name="Edit Pilot"/>

</form>