<h3><%= @ship.name %> Pilots </h3>

<% @pilots.each do |pilot| %>
  <ul>
    <li>
      <%= pilot.pilot_skill %> <%= pilot.name %>: <%= pilot.cost %>
    </li>
    <li>
      <%= pilot.pilot_ability %>
    </li>
  </ul>

  <form method="get" action="/pilots/<%= pilot.id %>/edit" >
    <input class="button green" type="submit" value="Edit Pilot">
  </form> 

  <form method="post" action="/pilots/<%= pilot.id %>/delete" >
    <input class="button red" type="submit" value="Delete Pilot">
  </form> 

<% end %>